html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full{
    max-width: 1262px; /* razmer bloka*/
    margin: 0 auto;
    padding: 0 15px;
}

.section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;/* otstyp podcherkivaniy*/
}

.section-title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Header styles tyt*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .22s linear;
    padding-bottom: 20px;
    z-index: 999;
}
/* tyt header svyzan s javascript */
.header_active{
    background: #0E1D28;
}
/* tyt header svyzan s javascript */

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 62px;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
    list-style:none;


}

.header_item{
    margin-right: 82px;

}

.header_item: last-child{
    margin-right: 0;
}

.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    transition: .69s;

    list-style-type: none; /* Убираем маркеры */
}

.header_link:hover, .header_link:focus, .header_link:active{
    opacity: .75;
    color: #b907e5;
}
/* adaptivnay verstka dly telefonov */
.header_burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger_line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
}

.burger_line_first{
    top: 0;
}

.burger_line_third{
    bottom: 0;
}

.burger_line_second{
    top: 50%;
    transform: translateY(-50%);
}
/* adaptivnay verstka dly telefonov */
/* tyt header vse*/



/*Intro styles tyt*/

/* Full size of picture!!!!!!!!!!!!!!!*/
.intro{
    min-height: 100vh;
    background: url(../img/intro_back-min.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}
/*end*/
.intro_title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}

.intro_subtitle{
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.search_form_info{
    display: flex;
    flex-wrap: wrap;
}

.search-form_field{
    width: 297px;
    background: transparent url(../img/cirk.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 47px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;

}

.search-form_field::placeholder{
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search_form_submit{
    padding: 15px 39px;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: #1B7DFF;
    border: 0;
    border-radius: 12px;
    transition: .69s;
}

.search_form_submit:hover, .search_form_submit:focus, .search_form_submit:active{
    background: #0b5cc7;
}

/*Intro styles konec*/



/* benefits styles*/

.benefits{
    margin-bottom: 131px;
}

.benefits_wrap{
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits_title{
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
}

.benefits_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits_card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_card-pic{
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits_card_sump{
    display: block;
}

.benefits_card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits_card-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits_card-more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/shape.svg) no-repeat 95% center;
    transition: .25s;

}

.benefits_card-more:hover, .benefits_card-more:focus{
    background: url(../img/shape.svg) no-repeat right center;

}

/*ben end*/


/*places Start*/

.places{
    margin-bottom: 131px;
}

.places_caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places_title{
    margin-right: 15px;
}


.places_view_all{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    transition: .25s;
    background: url(../img/shape.svg) no-repeat 95% center ;
}

.places_view_all:hover, .places_view_all:focus{
    background: url(../img/shape.svg) no-repeat right center;
    opacity: .89;
}

/* rabota s kartochkami c izobrasheniymi START */
.places_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.places_card_size_lg{
    grid-column: span 3; /*pokazivaet chto bydet zanimat' 3 kolonki */
}
.places_card_size_sm{
    grid-column: span 2; /*pokazivaet chto bydet zanimat' 3 kolonki */
}

.places_card-pic{
    width: 100%;
    transition: 0.27s all;
}

.places_card-pic_size_lg{
    height: 354px;
    object-fit: cover;
}

.places_card-pic_size_sm{
    height: 283px;
    object-fit: cover;
}

.places_card:hover .places_card-pic{
    transform: scale(1.04);
}

.places_card-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;

}

.places_card{
    position: relative;
    overflow: hidden;
}
.places_card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places_card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* rabota s kartochkami c izobrasheniymi END */

/*places End*/



/*Tours Start */

.tours{
    margin-bottom: 139px;

}

.tours-tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour_info{
    padding-left: 47px;
}

.tour_title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour_more{
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    transition: .25s;
    background: url(../img/shape.svg) no-repeat 95% center ;
}

.tour_more:hover, .tour_more:focus{
    background: url(../img/shape.svg) no-repeat right center;
    opacity: .89;
}
/*Tours End */

/*Top Start */

.top{
    margin-bottom: 86px;
}

.top_title{
    margin-bottom: 54px;
}

.top_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
    row-gap: 57px;
}


.top_card-pic{
    position: relative;
    margin-bottom: 45px;
}

.top_card{
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.top_card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;

}

.top_card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}

.top_card-likes{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    padding-right: 20px; /* cymma pikseley meshdy lykom i 221*/
    background: url(../img/next_trip/heart.svg) no-repeat right;
    margin-right: 14px;
}

.top_card-comments{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url(../img/next_trip/comm.svg) no-repeat right;

}

.top_cart-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top_card-more{
    width: 118px;
    padding: 12px 19px;
    background: #006DFE;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: .69s;
    margin: auto 0 0 0;
}

.top_card-more:hover, .top_card-more:focus, .top_card-more:active{
    background: #0b5cc7;
    color:white;
}

/*Top End */


/*Videos Start*/

.videos{
    width: 100%;
}

.videos_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video_item{
    padding-top: 56.25%; /* podgonyet pod adaptiv saita dlina i shirina idinakovie,, soxranyet proporcii, 16:9 16 podelit' na 9 i * na 100 = 56,25%*/
}

.video_element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Videos End*/

/*Footer Start*/

.footer{
    background: #0E1D28;
    padding: 119px 0;

}

.footer_item{
    display: flex;
    flex-wrap: wrap;


}

.footer_logo{
    width: 50%;
}

.footer_nav{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between; /* cozdaet prostranstvo v meny meshdy title i t.d */
}

.footer_menu{
    list-style-type: none;
}

.footer_menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;


}

.footer_menu-link{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;

}

.footer_menu-link:hover, .footer_menu-link:focus, .footer_menu-link:active{
    transition: .69s;
    opacity: .75;
    color: #b907e5;

}

/*Footer End*/


/*Media Start*/

@media screen and (max-width: 767px){

    .header_wrapper{
        padding-top: 28px;
    }
    .header_burger{
        display: block;
    }
    .header_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
    }
    .header_nav_active{
        transform: translateX(0);
        transition: .2s all linear;
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header_nav-close_line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;

    }
    .header_nav-close_line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header_nav-close_line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }

    .intro{
        padding-top: 120px;
    }
    .intro_subtitle{
        font-size: 14px;
    }
    .search_form_info{
        margin-bottom: 165px;
        width: 100%;

    }
    .intro_title{
        font-size: 32px;
        line-height: 48px;
    }
    .search-form_field{
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
    }
    .search-form_field::placeholder{
        font-size: 16px;
    }

    .search_form_submit{
        width: 100%;
    }
    .benefits{
        margin-bottom: 36px;
    }
    .benefits_card{
        grid-column: span 3;
        margin-bottom: 37px;
    }
    .benefits_card-pic{
        margin-bottom: 20px;
    }
    .benefits_card-title{
        margin-bottom: 12px;
    }
    .benefits_card-desc{
        margin-bottom: 20px;
    }
    .section-title{
        margin-bottom: 25px;
    }
    .section-title::after{
        width: 78px;
    }
    .places_card-pic_size_lg, .places_card-pic_size_sm{
        height:  230px;
    }
    .places_view_all{
        margin-bottom: 25px;
    }
    .places_caption{
        margin-bottom: 0px;
    }
    .places{
        margin-bottom: 76px;
    }
    .tour_pic, .tour_info{
        grid-column: span 2;
    }
    .tour_pic{
        margin-bottom: 12px;
    }
    .tour_pic_mob-first{
        grid-row-start: -1;
    }
    .tours_tour{
        margin-bottom: 50px;
    }
    .tours{
        margin-bottom: 76px;
    }
    .top_card{
        grid-column: span 3;
    }
    .top_card-desc{
        margin-bottom: 15px;
    }
    .top{
        margin-bottom: 76px;
    }
    .top_card-stats{
        max-width: 386px;
    }
    .footer_logo{
        width: 100%;
        margin-bottom: 12px;
    }
    .footer_nav{
        width: 100%;
    }
    .footer_menu{
        width: 50%;
        margin-bottom: 18px;
    }

}

@media screen and (max-width: 960px) {
    .search-form_field{
        margin-bottom: 25px;
    }
    .benefits{
        margin-bottom: 75px;
    }
    .benefits_card{
        margin-bottom: none;
    }

    .benefits_cards{
        padding: 0 15px;
        grid-color-gap: 35px;
    }
    .benefits_title{
        padding: 55px 15px;
    }
    .benefits_wrap{
        box-shadow: none;
    }
    .places_card_size_lg{
        grid-column: span 6;
    }
    .places_card_size_sm{
        grid-column: span 6;
    }
    .tours_tour{
        column-gap: 35px;
    }
    .tour_info{
        padding-left: 0;
    }
    .tour_title{
        margin-bottom: 25px;
    }
    .tour_desc{
        margin-bottom: 16px;
    }
    .top_cards{
        column-gap: 25px;
        row-gap: 55px;
    }
    .top_card{
        grid-column: span 6;
    }
    .top_card-pic{
        margin-bottom: 25px;
    }
    .footer{
        padding: 60px;
    }
}

@media screen and (max-width: 500px){
    .header_nav{
        padding: 75px 30px;
    }
}

/*Media End*/